/* TABLE OF CONTENTS */
/* -----------------
1. General
2. Navbar
3. Banner
4. Product
5. NFT
6. About Us
7. Social
8. Footer
------------------ */

.myFont{
    @import url('https://fonts.cdnfonts.com/css/kadwa');
    font-family: 'Kadwa', serif;
    font-style: normal;
    font-weight: 700;
}

/* 1. General */

